<div class="well col-md-3 col-md-offset-1">
  <h2>Please, log in: </h2>
  <%= form_for :session, url: session_path do |form| %>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email, placeholder: 'type your email address' %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: 'type your password' %>
    </div>
    <div>
      <%= form.submit "Sign in" %>
    </div>
  <% end %>
</div>