<%= div_for yell do %>
	<div class="well">
		<%= gravatar yell.user %>
		<%= link_to yell.user.username, yell.user %>
		yelled
		<%= render yell.content if yell.content %></br>

		<%= link_to time_ago_in_words(yell.created_at), yell %> ago
			
		<% if yell.user.id == current_user.id %></br>
			<%=	link_to "Delete", yell, class: "btn btn-warning btn-sm", method: :delete %>
		<% end %>
	</div>
<% end %>