<div class="well col-md-3 col-md-offset-1">
	<h1> Pick a user: </h1>
	<% @user.each do |user| %>
	    <div class="well">
	    	<p> <%= gravatar user %></p>
	    	<h2><%= link_to user.username, user %></h2>
	    </div>
	<% end %>
</div>
