<div class="well col-md-3 col-md-offset-1">
  <h2> Create new user </h2>
  <%= form_for @user do |form| %>
    <div>
      <%= form.label :username %>
      <%= form.text_field :username, placeholder: 'choose your user name' %>
    </div>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email, placeholder: 'type your email address' %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: 'choose your password'  %>
    </div>
    <div>
      <%= form.submit "Sign up" %>
    </div>
  <% end %>

</div>
