<%= div_for news_item do %>
	<div class="well">

		<%= gravatar current_user %>
		</br><p>article in <%= news_item.feed.user.username %> feed</p>

			<div>
				<h2><%=  news_item.title if news_item.title %></h2>
				</br>
				<%=  news_item.content if news_item.content %>
			</div>
		<p>downloaded <%= time_ago_in_words(news_item.created_at) %> ago</p></br>
		<%= link_to 'read more about it', news_item.item_url %></br>
		<%=	link_to "Delete", news_item, class: "btn btn-warning btn-sm", method: :delete %>
	</div>		
<% end %>

