<div class="well col-md-6 col-md-offset-1">
	<h1> Feeds in <%= current_user.username %> database: </h1>


	<% if @has_feeds %>
		<%= div_for current_user.feeds.each do |feed| %>
			<div class='well'>
				<%=  feed.name %>
					<%=  form_for feed do |f| %>
						<%= f.submit 'Update', class: "btn btn-primary", method: :update %>
					<% end %>
				<%=  link_to "Delete", feed, class: "btn btn-warning", method: :delete %>
			</div>
		<% end %>
	<% end %>
	<h2>Manage Your News Sources</h2>
	<div>
		<%= form_for current_user.feeds.build do |form| %>
			<%= form.url_field :url, placeholder: "add feed's url" %>
		    <%= form.text_field :name, placeholder: 'name your feed' %>
			<%= form.submit 'Add feed!' %>
		<% end %>

	</div>
</div>

<div class="well col-md-6 col-md-offset-1">
	<%= render @news_items %>

</div>