<div class="well col-md-offset-1 col-md-6">
	<h2> Entity relation diagram for Exclaimer application:</h2>
	<%= image_tag("schema.jpg") %>
	<p> Application was part of Coder's Lab workshops in November 2013. </br> Created by Jacek Luczynski. </p>
</div>