<div class="well col-md-offset-1 col-md-9">
    <%= form_for @dashboard.new_text_yell do |form| %>
    	<h2> What are You up to,</br>how do You feel now? </h2>
        <%= form.text_field :body, placeholder: 'Yell it' %>
    	<%= form.submit 'Yell now!' %>
    <% end %>
   </br><h2>or add a picture that yells :) </h2>
    <%= form_for @dashboard.new_photo_yell do |form| %>
        <%= form.file_field :image, value: "" %>
        <%= form.submit 'Yell now!' %>
    <% end %>
</div>
<div class="container-fluid">
    <div class="well col-md-4 col-md-offset-1">
        <h2>Latest News:</h2>
        <div> 
            <p> (You may also <%= link_to 'manage Your own news feeds', news_items_path %>) </p>
        </div>    
        <%= render @dashboard.news_items %>
    </div>
    <div class="row-fluid">
        <div class="well col-md-4 col-md-offset-1">
            <h2>Latest Yells:</h2>
            <p> (Add <%= link_to 'more Users', users_path %> to follow) </p>
            <%= render @dashboard.timeline %>
        </div>
    </div>
</div>
