<!DOCTYPE html>
<html>
<head>
	<title>Exclaimer</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	<%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse" role="navigation">
		<a class="navbar-brand" href="/">Exclaimer</a>
		<% if signed_in? %>
			<ul class="nav navbar-nav">	
				<li><p class="navbar-text"> Signed in as: <%=link_to current_user.username, dashboard_path %></p></li>

					
				<li><%=link_to 'My posts', current_user_path %></li>
				<li><%=link_to 'All users', users_path %></li>
				<li><%=link_to 'My feeds', news_items_path %></li>
				<li><%= link_to 'About', about_path %></li>

			</ul>
			<ul class="nav navbar-right">
				   <li><%= link_to 'Sign out', session_path, method: :delete %></li>
				</ul>
		<% else %>
			<ul class="nav navbar-nav">	
				<li><%= link_to 'Sign in', new_session_path %></li>
				<li><%= link_to 'Sign up', new_user_path %></li>
			</ul>
		<% end %>

	</nav>

	<% if alert %>
		<div class="well"><%= alert %></div>
	<% end %>
	<% if notice %>
		<div class="well"><%= notice %></div>
	<% end %>


	<%= yield %>
</body>
</html>
